<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 5rem;">
  <div class="container container-fluid">
    {% if user %}
    <a class="navbar-brand" href="#">Hello {{ user }}! </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'manage' %}">Management</a>
        </li>
        {%endif%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order_history' %}">Order History</a>
        </li>
      </ul>
      <a class="btn btn-light shadow" role="button" href="{% url 'logout' %}">Log Out</a>
      {%else%}
      <a class="navbar-brand" href="#">Welcome to the CafE! </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link danger" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
      {% endif %}

    </div>
  </div>
</nav>