<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The CafE</title>
</head>
<body>
  {% if user %}
    <h2>Hello {{ user }} <a href="{% url 'logout' %}" style="font-size: small;"> logout</a></h2>
    <button type="button"><a href="{% url 'order_page' %}">
      Order Item
    </a>
  </button>
  {% else %}
  <h2>Welcome to the CafE, <a href="{%url 'login'%}">login here</a></h2>
  {% endif %}
    <h1>Shop items: </h1>
    <form action="{% url 'home' %}" method="GET">
      <input type="search" name="search" placeholder="Search.." aria-label="Search">
      <input type="lt" name="lt" placeholder="Max Price.." aria-label="Price">
      <select name="category">
        <option value="" selected>All</option>
        <option value="0">Coffee</option>
        <option value="1">Tea</option>
        <option value="2">Cookies</option>
        <option value="3">Muffins</option>
        <option value="4">Cakes & Cupcakes</option>
        <option value="5">Pastries</option>
        <option value="6">Light Bites</option>
      </select>
      <button type="submit">Go</button>
</form>
<a href="{% url 'home'%}">Go back</a>
    <p>{% if keyword %} keyword: '{{keyword}}' {% endif %}</p>
    <p>{% if max_price or min_price %} price range: less than {{max_price}} {% endif %}</p>
    <table width="100%">
        <tr>
          {% for item in items %}
            {% if forloop.counter0|divisibleby:3 and not forloop.first %}
              </tr><tr>
            {% endif %}
            <td width="33%" valign="top">
              <table >
                <tr>
                  <td height="50"><h2>{{item.item_name|truncatechars:20}}</h2></td>
                </tr>
                <tr>
                  <td height="100"><img src="{{item.item_image.url}}" alt="{{item.item_name}}" height="100" width="100"></td>

                </tr>
                <tr>
                  <td height="30"><strong>Price:</strong> Rs. {{item.item_price}}</td>
                </tr>
                <tr>
                  <td height="70"><strong>Description:</strong> {{item.item_description|truncatechars:50}}</td>
                </tr>
                <tr>
                  <td height="30"><strong>Rating:</strong> {{item.item_rating}} &#9733;</td>
                </tr>
              </table>
            </td>
          {% endfor %}
        </tr>
      </table>
</body>
</html>