{% extends 'components/base.html' %}
{%block title%}Confirm Order {%endblock%}
{%block content%}
{% include 'components/customer_header.html' with user=user%}
<form action="{% url 'order_confirmation' %}" method="post">
        {% csrf_token %} 
        {% for item in items %}
        <h2>{{item.menu_item.name}}</h2>
        <p>x {{item.quantity}}</p>
        <h3>
            Rs. {{item.item_total}}
        </h3>
        {% endfor %}
        <h1>Rs. {{ total_price}}</h1>
        <button type="submit"> conirm</button>
    </form>
{%endblock%}
