<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{ order.order_status }} order</p>
    <p>placed at {{ order.order_place_time }}</p>

    {% for item in items %}
    <h3>{{item.menu_item.item_nme }}</h3>
    <p> qty: {{ item.item_qty }}</p>
    <p> item total: {{ item.item_total_price }}</p>
    {% endfor %}

    <p> order total price: order.order_total_price</p>
</body>
</html>