{% extends 'components/base.html' %}
{%block title%}Order{%endblock%}
{%block content%}
{% include 'components/customer_header.html' with user=user%}
<div class="container mt-4">
    <h1 class="mb-4">Place Your Order</h1>
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>
    
    <form method="post" action="{% url 'place_order' %}">
        {% csrf_token %}
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Review Order</button>
        </div>
        {%include 'components/items_list.html' with manage=False form=True%}
    </form>
{%endblock%}