<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Menu Item</title>
</head>
<body>
    <div>
        <h2>Add a menu item!</h2>
    </div>
    <div>
        {% if error %}
        <div>{{ error }}</div>
        {% endif %}
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>