{% extends 'components/base.html' %}
{% block title %}Order Statistics{% endblock %}

{% block content %}

{% include 'components/management_header.html' with user=user%}
<div class="container container-fluid mt-4 py-5">
    <h1 class="mb-4">Order Statistics Dashboard</h1>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card bg-dark text-white h-100">
                <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
                    <h2 class="display-4">{{ total_orders }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-outline text-gray h-100">
                <div class="card-body">
                    <h5 class="card-title">Total Revenue</h5>
                    <h2 class="display-4">₹{{ total_revenue }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary text-white h-100">
                <div class="card-body">
                    <h5 class="card-title">Avg Order Value</h5>
                    <h2 class="display-4">₹{{ average_order_value|floatformat:2 }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Top Categories
                </div>
                <div class="card-body">
                        <table class="table">
                            <thead class="table-primary">
                                <th>Category</th>
                                <th>Revenue</th>
                            </thead>
                            <tbody>
                                {% for category in top_categories %}
                                <tr>
                                    <td>
                                        {{category.category}}
                                    </td>
                                    <td>
                                        {{category.revenue}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Top Selling Items
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="table-success">
                                    <th>Item</th>
                                    <th>Quantity Sold</th>
                                    <th>Revenue</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in top_items %}
                                <tr>
                                    <td>
                                        <a class="text-dark text-decoration-none" href="{% url 'edit' item.menu_item__id%}" >
                                        {{ item.menu_item__name }}
                                        </a>
                                    </td>
                                    <td>{{ item.count }}</td>
                                    <td>₹{{ item.revenue }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

